@bodyColor: #333;
@descColor: #999;

@bodySize: 30rpx;
@descSize: 24rpx;

.df(@alignItems: stretch, @justifyContent: flex-start) {
	display: flex;
	align-items: @alignItems;
	justify-content: @justifyContent;
}

// 多行溢出隐藏
.vertical(@n) {
	display: -webkit-box;
	-webkit-line-clamp: @n;
	-webkit-box-orient: vertical;
	overflow: hidden;
}